#cta-container {
  background-image: url("../img/bg-home.png");
  background-repeat: no-repeat;
  background-size: cover;
}

#form-contact-container {
  background-image: url("../img/form-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}
